body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  text-align: center;
  max-width: 800px;
  margin: auto;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

path {
  pointer-events: all;
}
path:hover {
  opacity: 0.50;
  cursor: pointer;
}


.table-header th {
	border-bottom: 1px solid #eee;
	padding-bottom: 10px;
}
.scoreboard-entry {
	cursor: pointer;
}
.scoreboard-entry:hover {
	background: #eee;
}
.state-container {
	padding: 10px 40px;
}
.us-state-map {
	width: 100%;
	max-width: 600px;
	max-height: 400px;
}